<!-- <div class="card border-primary">
    <div class="card-body">
      <h4 class="card-title">Upload for family</h4>
      <div class="form-group">
        <input type="text" name="" [(ngModel)]="name" id="">
        <select [(ngModel)]="family">
          <option value="sani">sani</option>
          <option value="radha">radha</option>
        </select>
        <input type="file" class="form-control-file" (change)="selectFilea($event)" name="" id="" placeholder=""
          aria-describedby="fileHelpId">
        <br>
        <button type="button" class="btn btn-primary" [disabled]="!selectedFilesa"
          (click)="uploada()">upload</button>
      </div>
      <div *ngIf="currentFileUploada" class="progress mt-2">
        <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentagea }}"
          aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
          {{ percentagea }}%
        </div>
      </div>
    </div>
  </div> -->


  family works
