<div class="ww-home-page" id="home">
    <div class="ww-wedding-announcement d-flex align-items-center justify-content-start">
      <div class="container ww-announcement-container">
        <p class="ww-couple-name ww-title" data-aos="zoom-in-down" data-aos-delay="300" data-aos-duration="1000">
          Shailendra & Radha</p><img class="img-fluid mt-1" src="../../../assets/images/laurel-1.png" alt="Heart"
          data-aos="zoom-in-down" data-aos-delay="300" data-aos-duration="1000" />
        <p class="h2 mt-5 ww-title" data-aos="zoom-in-down" data-aos-delay="300" data-aos-duration="1000"
          data-aos-offset="10">28<sup>th</sup> November, 2021</p>
      </div>
    </div>
  </div>