<div class="ww-section" id="people">
    <div class="container ww-couple-friends">
      <h2 class="h1 text-center pt-3 ww-title" data-aos="zoom-in-down" data-aos-duration="1000">Sani's sweet family
        </h2>
      <div class="carousel slide" id="ww-carouselIndicator" data-ride="carousel" data-aos="zoom-in-up"
        data-aos-duration="1000">
        <ol class="carousel-indicators">
          <li class="active" data-target="#ww-carouselIndicator" data-slide-to="0"></li>
          <li data-target="#ww-carouselIndicator" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4">
                <div class="card d-block mb-3"><img class="card-img-top" src="../../../assets/images/mammypapa.jpg"
                    alt="Groom Men 1" />
                  <div class="card-body text-center">
                    <div class="h5">Papa&mammy</div>
                    <p class="mb-0 text-muted">my god</p>
                   
                    <div class="ww-social-links"><a class="btn btn-link" href="#"><i class="fab fa-facebook-f"
                          aria-hidden="true"></i></a><a class="btn btn-link" href="#"><i class="fab fa-twitter"
                          aria-hidden="true"></i></a><a class="btn btn-link" href="#"><i class="fab fa-google-plus-g"
                          aria-hidden="true"></i></a><a class="btn btn-link" href="#"><i class="fab fa-instagram"
                          aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card d-block mb-3"><img class="card-img-top" src="../../../assets/images/amma.jpg"
                    alt="Groom Men 2" />
                  <div class="card-body text-center">
                    <div class="h5 text-center">Dadi g</div>
                    
                    <div class="ww-social-links"><a class="btn btn-link" href="#"><i class="fab fa-facebook-f"
                          aria-hidden="true"></i></a><a class="btn btn-link" href="#"><i class="fab fa-twitter"
                          aria-hidden="true"></i></a><a class="btn btn-link" href="#"><i class="fab fa-google-plus-g"
                          aria-hidden="true"></i></a><a class="btn btn-link" href="#"><i class="fab fa-instagram"
                          aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card d-block mb-3"><img class="card-img-top" src="../../../assets/images/chacha.jpg"
                    alt="Groom Men 3" />
                  <div class="card-body text-center">
                    <div class="h5 text-center">Chacha g</div>
                    
                    <div class="ww-social-links"><a class="btn btn-link" href="#"><i class="fab fa-facebook-f"
                          aria-hidden="true"></i></a><a class="btn btn-link" href="#"><i class="fab fa-twitter"
                          aria-hidden="true"></i></a><a class="btn btn-link" href="#"><i class="fab fa-google-plus-g"
                          aria-hidden="true"></i></a><a class="btn btn-link" href="#"><i class="fab fa-instagram"
                          aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-4" *ngFor="let i of people;let j=index" >
                <div class="card d-block mb-3"><img class="card-img-top" src="{{i.url}}"
                    alt="Bride Maid 1" />
                  <div class="card-body text-center">
                    <div class="h5">{{i.name}}</div>
                
                    <div class="ww-social-links"><a class="btn btn-link" href="#"><i class="fab fa-facebook-f"
                          aria-hidden="true"></i></a><a class="btn btn-link" href="#"><i class="fab fa-twitter"
                          aria-hidden="true"></i></a><a class="btn btn-link" href="#"><i class="fab fa-google-plus-g"
                          aria-hidden="true"></i></a><a class="btn btn-link" href="#"><i class="fab fa-instagram"
                          aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  