<!-- Nav tabs -->
<ul class="nav nav-tabs" id="navId">
    <li class="nav-item">
        <a  class="nav-link active">Active</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Upload Images</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"  [routerLink]="[ '/admin/event' ]"  >Event</a>
            <a class="dropdown-item" [routerLink]="[ '/admin/galary' ]" >Galary</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="[ '/admin/family' ]" >  Family pics</a>
        </div>
    </li>
    <li class="nav-item">
        <a href="#tab5Id" class="nav-link disabled">Manager</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="[ '/admin/contact' ]" class="nav-link ">Contact</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <router-outlet></router-outlet>
</div>

